<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yan.sblog.dao.mapper.PermissionMapper">

    <select id="findPermissionVoByRoleId" resultType="pers.yan.sblog.common.vo.PermissionVO">
        select p.permission_id,
               p.permission_name,
               p.permission_code,
               p.create_time,
               p.create_by,
               p.update_time,
               p.update_by
        from role_permission rp
                 left join permission p on rp.permission_id = p.permission_id
        where rp.role_id = #{roleId}
    </select>

    <select id="findPermissionVoByPage">
        select * from permission
        <where>
            <if test="permissionQuery.permissionName != null">
                and permission_name = #{permissionName}
            </if>
            <if test="permissionQuery.permissionCode != null">
                and permission_code = #{permissionCode}
            </if>
        </where>
    </select>

    <select id="findPermissionVoByPermissionId" resultType="pers.yan.sblog.common.vo.PermissionVO">
        select *
        from permission
        where permission_id = #{permissionId}
    </select>
</mapper>
